{
  "presets": [
    [
      "env"
    ]
  ],
  "env": {
    "test": {
      "presets": [
        "babel-preset-power-assert"
      ],
      "plugins": [
        "babel-plugin-espower"
      ]
    }
  }
}
